p{
    font-size: 2em;
}

body{
    display: flex;
    flex-direction: column;
}

.inputgroup{
    width: 50%;
}

.picker{
    width: auto;
    margin-right: 1em;
    display: flex;
    gap: 1em;
}

.left{
    margin-left: 1em;
}

.imagecontainer{
    width: 80%;
    margin-top: 1em;
    align-self: center;
}

.description{
    width: 70%;
    align-self: center;
}